<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-22848601-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-22848601-2');
</script>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.url == "/" %}<title>{{ site.title }}</title>{% elsif title %}<title>{{ title }} | {{ site.title }}</title>{% else %}<title>{{ site.title }}</title>{% endif %}

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@LordsOfThePitOG">
<meta name="twitter:creator" content="@LordsOfThePitOG">
{% if page.url == "/" %}<meta name="twitter:title" content="{{ site.title }} | Balling the fuck out of control.">{% elsif title %}<meta name="twitter:title" content="{{ title }} | Lords of the Pit">{% else %}<meta name="twitter:title" content="{{ site.title }}">{% endif %}
{% if page.url %}<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">{% endif %}
{% if excerpt %}<meta name="twitter:description" content="{{ excerpt | strip_html }}">{% else %}<meta name="twitter:description" content="{{ site.description }}">{% endif %}
<meta name="twitter:image:src" content="{{ site.url }}/assets/images/site/lords-of-the-pit-open-graph.jpg">  
<meta property="og:image" content="{{ site.url }}/assets/images/site/lords-of-the-pit-open-graph.jpg" />

{% if pagination %}
  {% if pagination.href.previous %}
    <link rel="prev" href="{{ site.url }}{{ pagination.href.previous }}" />
  {% endif %}
  {% if pagination.href.next %}
    <link rel="next" href="{{ site.url }}{{ pagination.href.next }}" />
  {% endif %}
{% endif %}

<script src="https://kit.fontawesome.com/bf8e061a12.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ "/assets/stylesheets/style.css" | relative_url }}?{{site.time | date: '%s%N'}}">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="shortcut icon" href="/favicon.ico?v=1" />
<link rel="mask-icon" href="/mask-icon.svg" color="#ffffff">
<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
</head>