<aside class="col-12 col-sm-4 blog-sidebar">
  <div class="row">
    <div class="col">
      <a href="/"><img src="/assets/images/site/lords-of-the-pit.jpg" /></a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-truncate">
      <h4>Site</h4>
      <hr>  
      {% include site.html %}
    </div>
    <div class="col-12 col-sm-6 text-truncate">
      <h4>Links</h4>
      <hr>
      {% include links.html %}
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-truncate">
      <h4>Pitcast</h4>
      <hr>
      <iframe src="https://anchor.fm/pitcast/embed" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-truncate">
    {% for post in site.posts %}
      {% assign currentdate = post.date | date: "%Y" %}
      {% if currentdate != date %}
        {% unless forloop.first %}</ul>{% endunless %}
        <h4>{{ currentdate }}</h4>
        <hr>
        <ul class="list-unstyled">
        {% assign date = currentdate %}
      {% endif %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}">
            {%- assign date_format = site.minima.date_format | default: "%b %-d" -%}
            {{ post.date | date: date_format }}
          </time>
        </li>
      {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
    </div>
  </div>
</aside>