---
layout: default
---
<div class="row archives-row">

    <div class="col-12 col-sm-8">
      {%- if page.title -%}
      <h1>{{ page.title | escape }}</h1>
      {%- endif -%}
      <p>
        <img src="/assets/images/site/archives.jpg" />
      </p>
      {% for post in site.posts %}
      {% assign currentdate = post.date | date: "%Y" %}
      {% if currentdate != date %}
        {% unless forloop.first %}</ul>{% endunless %}
        <h4>{{ currentdate }}</h4>
        <hr>
        <ul class="list-unstyled">
        {% assign date = currentdate %}
      {% endif %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}">
            {%- assign date_format = site.minima.date_format | default: "%b %-d" -%}
            {{ post.date | date: date_format }}
          </time>
        </li>
      {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
      <h4>Pitcast Deep Cuts</h4>
      <hr>
      <ul class="list-unstyled">
        <li><a href="{{ site.s3BucketPrefix }}/pitcast/ep01.mp3">ep01.mp3</a></li>
        <li><a href="{{ site.s3BucketPrefix }}/pitcast/ep02.mp3">ep02.mp3</a></li>
        <li><a href="{{ site.s3BucketPrefix }}/pitcast/ep03.mp3">ep03.mp3</a></li>
        <li><a href="{{ site.s3BucketPrefix }}/pitcast/ep04.mp3">ep04.mp3</a></li>
        <li><a href="{{ site.s3BucketPrefix }}/pitcast/ep05.mp3">ep05.mp3</a></li>
        <li><a href="{{ site.s3BucketPrefix }}/pitcast/ep06.mp3">ep06.mp3</a></li>
        <li><a href="{{ site.s3BucketPrefix }}/pitcast/ep07.mp3">ep07.mp3</a></li>
        <li><a href="{{ site.s3BucketPrefix }}/pitcast/ep08.mp3">ep08.mp3</a></li>
        <li><a href="{{ site.s3BucketPrefix }}/pitcast/ep09.mp3">ep09.mp3</a></li>
        <li><a href="{{ site.s3BucketPrefix }}/pitcast/ep10.mp3">ep10.mp3</a></li>
        <li><a href="{{ site.s3BucketPrefix }}/pitcast/ep11.mp3">ep11.mp3</a></li>
        <li><a href="{{ site.s3BucketPrefix }}/pitcast/ep12.mp3">ep12.mp3</a></li>
        <li><a href="{{ site.s3BucketPrefix }}/pitcast/ep13.mp3">ep13.mp3</a></li>
        <li><a href="{{ site.s3BucketPrefix }}/pitcast/ep14.mp3">ep14.mp3</a></li>
        <li><a href="{{ site.s3BucketPrefix }}/pitcast/ep15.mp3">ep15.mp3</a></li>
        <li><a href="{{ site.s3BucketPrefix }}/pitcast/ep16.mp3">ep16.mp3</a></li>
        <li><a href="{{ site.s3BucketPrefix }}/pitcast/ep17.mp3">ep17.mp3</a></li>
        <li><a href="{{ site.s3BucketPrefix }}/pitcast/ep18.mp3">ep18.mp3</a></li>
        <li><a href="{{ site.s3BucketPrefix }}/pitcast/ep19.mp3">ep19.mp3</a></li>
        <li><a href="{{ site.s3BucketPrefix }}/pitcast/ep20.mp3">ep20.mp3</a></li>        
        <li><a href="{{ site.s3BucketPrefix }}/pitcast/ep21.mp3">ep21.mp3</a></li>        
        <li><a href="{{ site.s3BucketPrefix }}/pitcast/ep22.mp3">ep22.mp3</a></li>        
      </ul>
    </div>

  {% include aside.html %}

</div>