---
layout: default
---
<div class="row">
  <div class="col-12 col-sm-8">
    {% for post in site.posts limit:3 %}
    <article>

    <header>
      <h1>{{ post.title | escape }}</h1>
      <hr>
      <p>
        <time datetime="{{ post.date | date_to_xmlschema }}">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ post.date | date: date_format }}
        </time> by {{ post.author }} · <a href="{{ post.url | relative_url }}">Link</a>
      </p>
    </header>
    <div{% if post.monospace %} class="post-mono"{% endif %}>
      {{ post.content }}
    </div>

    </article>
    {% endfor %}
    <hr>
    <p class="all-posts"><a href="/archives">View All Posts &rarr;</a></p>
  </div>

{% include aside.html %}

</div>