---
layout: default.html
---
<div class="flex flex-wrap -mx-4">

  <div class="w-full sm:w-2/3 px-4">
    {%- if title -%}
    <h1>{{ title | escape }}</h1>
    {%- endif -%}
    <p>
      <img src="/assets/images/site/arcanaeum.jpg" />
    </p>
      <div class="flex flex-wrap -mx-4 arcanaeum-row">
        <div class="px-4 text-center">
          <p>{{ page.content }}</p>
          <hr>
        </div>
      </div>
      <div class="flex flex-wrap -mx-4 arcanaeum-row">
        <div class="w-1/3 px-4">
          <a href="{{ site.s3BucketPrefix }}/duelist-issue-1-remastered.pdf"><img src="/assets/images/2018/12/duelist_1_complete_image_Page_01.jpg" alt="The Duelist #1, Winter 1994" /></a>
          <a href="{{ site.s3BucketPrefix }}/duelist-issue-1-remastered.pdf">The Duelist #1, Winter 1994</a>
        </div>

        <div class="w-1/3 px-4">
          <a href="{{ site.s3BucketPrefix }}/issue-1.5-may-1994.pdf"><img src="/assets/images//2019/05/01.jpg" alt="The Duelist Supplement, May 1994" /></a>
          <a href="{{ site.s3BucketPrefix }}/issue-1.5-may-1994.pdf">The Duelist Supplement, May 1994</a>
        </div>

        <div class="w-1/3 px-4">
          <a href="{{ site.s3BucketPrefix }}/duelist-issue-2-remastered-complete.pdf"><img src="/assets/images//2018/12/Binder1_Page_01-2.jpg" alt="The Duelist #2, Summer 1994" /></a>
          <a href="{{ site.s3BucketPrefix }}/duelist-issue-2-remastered-complete.pdf">The Duelist #2, Summer 1994</a>
        </div>

      </div> <!-- arcanaeum-row -->
      <div class="flex flex-wrap -mx-4 arcanaeum-row">

        <div class="w-1/3 px-4">
          <a href="{{ site.s3BucketPrefix }}/duelist-issue-3-remastered-complete.pdf"><img src="/assets/images//2019/02/Duelist-3-Cover.jpg" alt="The Duelist #3, Fall 1994" /></a>
          <a href="{{ site.s3BucketPrefix }}/duelist-issue-3-remastered-complete.pdf">The Duelist #3, Fall 1994</a>
        </div>

        <div class="w-1/3 px-4">
          <a href="{{ site.s3BucketPrefix }}/duelist-issue-4-complete.pdf"><img src="/assets/images//2019/04/01.jpg" alt="The Duelist #4, March 1995" /></a>
          <a href="{{ site.s3BucketPrefix }}/duelist-issue-4-complete.pdf">The Duelist #4, March 1995</a>
        </div>

        <div class="w-1/3 px-4">
          <a href="{{ site.s3BucketPrefix }}/duelist-issue-5-complete.pdf"><img src="/assets/images//2019/04/01-1.jpg" alt="The Duelist #5, June 1995" /></a>
          <a href="{{ site.s3BucketPrefix }}/duelist-issue-5-complete.pdf">The Duelist #5, June 1995</a>
        </div>

      </div> <!-- arcanaeum-row -->
      <div class="flex flex-wrap -mx-4 arcanaeum-row">

        <div class="w-1/3 px-4">
          <a href="{{ site.s3BucketPrefix }}/duelist-issue-6-complete-v2.pdf"><img src="/assets/images//2020/02/001.jpg" alt="The Duelist #6, August 1995" /></a>
          <a href="{{ site.s3BucketPrefix }}/duelist-issue-6-complete-v2.pdf">The Duelist #6, August 1995</a>
        </div>

        <div class="w-1/3 px-4">
          <a href="{{ site.s3BucketPrefix }}/duelist-issue-7-complete-v2.pdf"><img src="/assets/images//2020/01/001.jpg" alt="The Duelist #7, October 1995" /></a>
          <a href="{{ site.s3BucketPrefix }}/duelist-issue-7-complete-v2.pdf">The Duelist #7, October 1995</a>
        </div>

        <div class="w-1/3 px-4">
          <a href="{{ site.s3BucketPrefix }}/duelist-issue-8-complete-v2.pdf"><img src="/assets/images//2020/01/001-1.jpg" alt="The Duelist #8, December 1995" /></a>
          <a href="{{ site.s3BucketPrefix }}/duelist-issue-8-complete-v2.pdf">The Duelist #8, December 1995</a>
        </div>

      </div> <!-- arcanaeum-row -->
      <div class="flex flex-wrap -mx-4 arcanaeum-row">

        <div class="w-1/3 px-4">
          <a href="{{ site.s3BucketPrefix }}/Magic-The-Puzzling.pdf"><img src="/assets/images//2019/10/1.jpg" alt="Magic The Puzzling Preview" /></a>
          <a href="{{ site.s3BucketPrefix }}/Magic-The-Puzzling.pdf">Magic The Puzzling Preview</a>
        </div>

        <div class="w-1/3 px-4">
          <a href="{{ site.s3BucketPrefix }}/The-Duelist-Presents-The-Complete-MTG-Card-List.pdf"><img src="/assets/images//2019/10/01-1.jpg" alt="The Duelist Presents The Complete Magic: The Gathering Card List" /></a>
          <a href="{{ site.s3BucketPrefix }}/The-Duelist-Presents-The-Complete-MTG-Card-List.pdf">The Duelist Presents The Complete Magic: The Gathering Card List</a>
        </div>

        <div class="w-1/3 px-4">
          <a href="{{ site.s3BucketPrefix }}/Conjure-Nov-Dec-1994-Complete.pdf"><img src="/assets/images//2019/03/01.jpg" alt="Conjure Magazine, Nov/Dec 1994" /></a>
          <a href="{{ site.s3BucketPrefix }}/Conjure-Nov-Dec-1994-Complete.pdf">Conjure Magazine, Nov/Dec 1994</a>
        </div>

      </div> <!-- arcanaeum-row -->
      <div class="flex flex-wrap -mx-4 arcanaeum-row">

        <div class="w-1/3 px-4">
          <a href="{{ site.s3BucketPrefix }}/Acclaim-Comics-Ice-Age-Issue-1-July-1995.pdf"><img src="/assets/images//2019/09/1-1.jpg" alt="Acclaim Comics "Ice Age on the World of Magic the Gathering" Issue 1, July 1995" /></a>
          <a href="{{ site.s3BucketPrefix }}/Acclaim-Comics-Ice-Age-Issue-1-July-1995.pdf">Acclaim Comics "Ice Age on the World of Magic the Gathering" Issue 1, July 1995</a>
        </div>

        <div class="w-1/3 px-4">
          <a href="{{ site.s3BucketPrefix }}/Acclaim-Comics-Ice-Age-Issue-2-Aug-1995.pdf"><img src="/assets/images//2019/09/1.jpg" alt="Acclaim Comics "Ice Age on the World of Magic the Gathering" Issue 2, Aug 1995" /></a>
          <a href="{{ site.s3BucketPrefix }}/Acclaim-Comics-Ice-Age-Issue-2-Aug-1995.pdf">Acclaim Comics "Ice Age on the World of Magic the Gathering" Issue 2, Aug 1995</a>
        </div>

        <div class="w-1/3 px-4">
          <a href="{{ site.s3BucketPrefix }}/Acclaim-Comics-Ice-Age-Issue-3-Sep-1995.pdf"><img src="/assets/images//2019/09/1-2.jpg" alt="Acclaim Comics "Ice Age on the World of Magic the Gathering" Issue 3, Sep 1995" /></a>
          <a href="{{ site.s3BucketPrefix }}/Acclaim-Comics-Ice-Age-Issue-3-Sep-1995.pdf">Acclaim Comics "Ice Age on the World of Magic the Gathering" Issue 3, Sep 1995</a>
        </div>

      </div> <!-- arcanaeum-row -->
      <div class="flex flex-wrap -mx-4 arcanaeum-row">

        <div class="w-1/3 px-4">
          <a href="{{ site.s3BucketPrefix }}/Acclaim-Comics-Ice-Age-Issue-4-Oct-1995.pdf"><img src="/assets/images//2019/09/01.jpg" alt="Acclaim Comics "Ice Age on the World of Magic the Gathering" Issue 4, Oct 1995" /></a>
          <a href="{{ site.s3BucketPrefix }}/Acclaim-Comics-Ice-Age-Issue-4-Oct-1995.pdf">Acclaim Comics "Ice Age on the World of Magic the Gathering" Issue 4, Oct 1995</a>
        </div>

        <div class="w-1/3 px-4">
          <a href="{{ site.s3BucketPrefix }}/Jyhad-Supplement.pdf"><img src="/assets/images//2019/10/01.jpg" alt="Jyhad Supplement" /></a>
          <a href="{{ site.s3BucketPrefix }}/Jyhad-Supplement.pdf">Jyhad Supplement</a>
        </div>

      </div> <!-- arcanaeum-row -->

  </div> <!-- w-full sm:w-2/3 px-4 -->

  {% include "aside.html" %}

</div>