---
layout: default.html
---
<div class="flex flex-wrap -mx-4">
  <div class="w-full sm:w-2/3 px-4">
    {% for post in posts %}
    <article>

    <header>
      <h1>{{ post.data.title | escape }}</h1>
      <hr>
      <p>
        <time datetime="{{ post.date | date_to_xmlschema }}">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ post.date | date: date_format }}
        </time> by {{ post.data.author }} · <a href="{{ post.url | relative_url }}">Link</a>
      </p>
    </header>
    <div{% if post.data.monospace %} class="post-mono"{% endif %}>
      {{ post.content }}

      <p><a href="https://lordsofthepit.com"><img src="/assets/images/2018/07/441691733915336714.png" alt=""></a></p>
    </div>

    </article>
    {% endfor %}

    {% include "pagination.html" %}

    <hr>
    <p class="all-posts"><a href="/archives">View All Posts &rarr;</a></p>
  </div>

{% include "aside.html" %}

</div>